.cleanCodeLeft {
    display: inline-block;
    width: 55vw;
    height: inherit;
    background-color: #4A4A4A;
    z-index: 0;
}

.outside {
    display: table;
    height: 100%;
    width: 100%;
}

.inside {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}



.cleanCodeMiddle {
    width:10vw;
    height:inherit;
    display: inline-block;
    background-color: #49C6FF;
}

.cleanCodeRight {
    display: inline-block;
    width: 35vw;
    height: inherit;
    background-color: #49C6FF;
    z-index: 0;
}