.cleanCodeLeft {
    display: inline-block;
    width: 55vw;
    height: inherit;
    background-color: #4A4A4A;
    z-index: 0;
}

.cleanCodeMiddle {
    width:10vw;
    height:inherit;
    display: inline-block;
    background-color: #49C6FF;
}

.transitionSVG {
    display: inline-block;
    height: inherit;
    width: inherit;
}

.cleanCodeRight {
    display: inline-block;
    width: 35vw;
    height: inherit;
    background-color: #49C6FF;
    z-index: 0;
}