.cb-container {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    overflow: hidden;
    border: black 3px solid;
}

.cb-img {
    height: 80%;
}

.cb-title {
    height: 20%;
    line-height: 20%;
}