@font-face {
    font-family: Hero-Font;
    src: url("../resources/fonts/Prime Light.otf");
}

@font-face {
    font-family: Header-Font;
    src: url("../resources/fonts/Monaco.ttf");
}

@font-face {
    font-family: Body-Font;
    src: Lato;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../resources/fonts/glyphicons-halflings-regular.eot');
    src: url('../resources/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../resources/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../resources/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../resources/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../resources/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: Monaco;
    src: url(../resources/fonts/Monaco.ttf);
}

