@font-face {
    font-family: Hero-Font;
    src: url("../resources/fonts/Exo/Exo-Regular.otf");
}

@font-face {
    font-family: Header-Font;
    src: url("../resources/fonts/Exo/Exo-Light.otf");
}

@font-face {
    font-family: Body-Font;
    src: url("../resources/fonts/Exo/Exo-ExtraLight.otf");
}

@font-face {
    font-family: Code-Font;
    src: url("../resources/fonts/Monaco.ttf");
}

@font-face {
    font-family: Varsity;
    src: url("../resources/fonts/Varsity Regular.ttf");
}

@font-face {
    font-family: Star-Wars;
    src: url("../resources/fonts/Starjedi.ttf");
}