@font-face {
    font-family: Hero-Font;
    src: url("../resources/fonts/Prime Light.otf");
}

@font-face {
    font-family: Header-Font;
    src: url("../resources/fonts/Drugs.otf");
}

@font-face {
    font-family: Body-Font;
    src: url("../resources/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Monaco;
    src: url(../resources/fonts/Monaco.ttf);
}

