.title {
    margin: 0 !important;
}

.upcomingFeatures {
    width:25vw;
    height: 70vh;
}

.emotionFeature {
    width:25vw;
    height: 70vh;
}

.feature {
    display: inline-block;
    width: 25vw;
    height: 70vh;
}

.featureImage {
    width:25vw;
    height: 70vh;
}