/*
 * Hero title
 */
.hero-title-div {
    margin-top: 5%;
    width: 100%;
}

.hero-title {
    width: 100%;
    text-align: center;
    font-family: Exo, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    color: white;
}

.hero-moto-div {
    display: block;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.hero-moto {
    width: 100%;
    text-align: center;
    color: white;
    font-family: Exo, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
}

.hero-label-table-row {
    display: table-row;
}

.hero-label-table-cell {
    display: table-cell;
    vertical-align: middle;
}
/*
 * Hero Box
 */
.hero-container {
    display: block;
    height: auto;
    color: white;
    vertical-align: middle;
}

.hero-box {
    display: inline-block;
    height: 50vh;
    max-height: 500px;
    margin: 0 20px;
    text-align: center;
    vertical-align: middle;
}

.hero-vs-box {
    max-height: 500px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 4em;
}

.hero-box img {
    display: block;
    height: inherit;
    width: inherit;
    box-shadow: 0 -15px 20px rgba(0, 0, 0, 0.22);
}

/*
 * Hero labels
 */
.hero-label {
    display: inline-block;
    margin-top: 10px;
    color: white;
}

.number-icon {
    width: 30px;
    height: 30px;
    text-align: center;
}

.hero-text-label {
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 900px) {

    .hero-image {
        display: block;
        height: 30vw;
    }

}

@media screen and (max-width: 600px) {

    .hero-image {
        display: block;
        height: 50vw;
    }

}