/*
 * Hero title
 */
.hero-title-div {
    margin-top: 5%;
    width: 100%;
}

.hero-title {
    width: 100%;
    text-align: center;
    font-family: Hero-Font, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
}

.hero-moto-div {
    display: block;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 3%;
}

.hero-moto {
    width: 100%;
    text-align: center;
    font-family: Hero-Font, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.hero-label-table-row {
    display: table-row;
}

.hero-label-table-cell {
    display: table-cell;
    vertical-align: middle;
}
/*
 * Hero Box
 */
.hero-container {
    display: block;
    height: auto;
}

.hero-box {
    display: inline-block;
    padding-top: 2%;
    min-width: 300px;
    width: 33%;
    text-align: center;
}

.hero-image {
    display: block;
    height: 25vw;
}

.hero-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}

/*
 * Hero labels
 */
.hero-label {
    display: inline-block;
    margin-top: 10px;
}

.number-icon {
    width: 30px;
    height: 30px;
    text-align: center;
}

.hero-text-label {
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 900px) {

    .hero-image {
        display: block;
        height: 30vw;
    }

}

@media screen and (max-width: 600px) {

    .hero-image {
        display: block;
        height: 50vw;
    }

}