html {
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.layout {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.pageSection {
    padding: 0;
}

.pageContainer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
    height: 75vh;
    text-align: center;
}
