.navbar {
    background-color: rgba(250,250,250,0.95);
    display: block;
    border-radius: 0;
    padding: 0 0px;
    position: fixed;
    top: 0px; right: 0px; left: 0px;
    z-index: 10;
    min-height: 50px;
    min-width: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
}

.navbar-inline {
    height: 30px;
    padding: 10px 0;
    display: inline-block;
    position: relative;
}

.navbar-left {
    padding-left:10%;
    float: left;
    font-size: 1.5em;
    font-weight: 400;
}

.navbar-right {
    padding-right: 13%;
    font-size: 1.2em;
    float: right;
    font-weight: 400;
    margin-right: 5px;
}

.navbar-inline > a {
    color: #626262;
    display: inline-block;
    padding: 0px 15px;
    line-height: 30px;
    font-family: Header-Font, sans-serif;
    vertical-align: bottom;
    font-weight: 100;
    transition: background 0.2s, color 0.2s;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    -o-transition: background 0.2s, color 0.2s;
}

.navbar-current:hover {
    color: black !important;
    cursor: pointer;
}

a.navbar-current, .navbar-left a {
    color: #19A5E4;
    font-family: Header-Font, sans-serif;
    cursor: auto;
}

#navbar-logo {
    display: inline-block;
    height: 30px;
    width: 35px;
    vertical-align: top;
    background: transparent url("../resources/img/favicon.png") no-repeat;
    background-size: contain;
}

div.navbar:not(.opaque-navbar) {
    background-color: transparent;
    box-shadow: none;
}

div.navbar:not(.opaque-navbar) a {
    color: #F0F0F0;
    transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
}

div.navbar:not(.opaque-navbar) .navbar-left {
    padding-left: 20px;
    margin-right: -20px;
    text-align: left;
}

div.navbar:not(.opaque-navbar) .navbar-right {
    padding-right: 20px;
    margin-left: -20px;
    text-align: right;
}

div.navbar:not(.opaque-navbar) #navbar-logo {
    background: transparent url("../resources/img/favicon.png") no-repeat;
    background-size: contain;
}

/* ---- MOBILE VERSION ---- */
@media (max-width: 1024px) {

    body {
        font-size: 14px;
    }

}
@media (max-width: 768px) {

    body {
        font-size: 13px;
    }

}

@media (max-width: 600px) {

    div.navbar:not(.opaque-navbar) p.navbar-right, div.navbar:not(.opaque-navbar) p.navbar-left {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-space {
        height: 100px;
    }

    .navbar-right {
        font-size: 13px;
    }

    .hidden-on-mobile { display: none !important; }
    /*.visible-on-mobile { display: inherit !important; }*/

    .info-box-content {
        margin: 20px 20px 0;
    }

    .small-space {
        padding-top: 100px;
    }

    h2 {
        font-size: 280%;
        margin-top: 25px;
        margin-bottom: -2px;
    }

    .cblock {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .navbar {
        min-width: 0;
    }   /*TODO: Navbar navigation breaks under 317px width*/

    .navbar-inline {
        min-width: 100%;
    }

    .first-wrapper {
        padding-top: 100px;
    }

    .footer {
        font-size: 14px;
    }

    .footer a {
        margin-top: 6px;
    }

}
@media (max-width: 320px) {

    body {
        font-size: 12px;
    }

    h2 {
        font-size: 220%;
        margin-bottom: -1px;
    }

    h3 {
        font-size: 17px;
    }
}