@font-face {
    font-family: Monaco;
    src: url(../resources/fonts/Monaco.ttf);
}

.signup {

}

/**
 * Editor
 */
.editor {
    display: block;
    width: 300vw;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: -5vw;
    margin-right: -5vw;
    margin-top: -5vh;
    background: #4A4A4A;
}

.innerEditor {
    display: block;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 7vh;
}

/**
 * Code animation
 */
.typedText {
    font-family: Monaco, sans-serif;
    font-size: 2em;
    color: white;
}

.blueSyntax {
    color: #50E3C2;
}

.greenSyntax {
    color: #7ED321;
}

.orangeSyntax {
    color: #F9B42D;
}

/**
 * Messenger
 */
.messenger {
    display: block;
    width: 300vw;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: -5vw;
    margin-right: -5vw;
    background: #49C6FF;
}

.messenger-border {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 50px 2000px 0 0;
    border-color: red;
    border-style: solid;
    content: '';
}

.chat {
    width: 400px;
}

.bubble{
    background-color: #EAEFEE;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #EAEFEE;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;
    margin: 5px 45px 5px 20px;
}

.me::before {
    left: -9px;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
}

.you::before {
    right: -9px;
}

/**
 * Make cursor blink
 */
.Typist .Cursor--blinking {
    opacity: 1;
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}