.terms-root {
    background-color: #F5F5F5;
    width: 100vw;
    min-height: 100vh;
}

.terms-paper {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    width:70vw;
}

.terms-description {
    display: inline-block;
    text-align: left;
    font-family: Body-Font, sans-serif;
}