.title {
    margin: 0 !important;
}

.diversifyStyle {
    color: #fc8c84;
}

.varietyExplanation {
    margin-top: 3vh;
    padding-top: 3%;
    width: 30vw;
    font-size: 2em;
    line-height: 4.5vh;
}