.vcp-content {
    width: 40vw;
    display: inline-block;
    vertical-align: middle;
}

.vcp-img-container {
    display: inline-block;
}

.vcp-img {
    margin: 40px 20px;
    height: 400px;
}

.vcp-title {
    text-align: center;
    margin-bottom: 7%;
}

.vcp-diversify {
    color: #19A5E4;
}

.vcp-explanation {
    margin-top: 20px;
    margin-bottom: 6vh;
    width: 30vw;
    font-size: 2em;
    text-align: left;
}

@media screen and (max-width: 768px) {

    .vcp-title {
        margin: 15px 10%;
        text-align: center;
    }

    .vcp-explanation {
        margin-top: 20px;
        margin-bottom: 6vh;
        width: 90vw;
        text-align: center;
    }
}