$accent: #27AE60;
$softlink: #898d90;
$basic: #69697B;

@mixin section {
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 10px;

  .sectionTitle {
    text-align: center;
    font-size: 24px;
    padding: 0 0 11px;
  }

  .sectionSubTitle {
    text-align: center;
    font-size: 17px;
    padding-bottom: 90px;
    font-weight: 300;
  }
}


.root {
  @include section;
  background-color: #ffffff;
}

.table {
  width: 900px;
  display: flex;
  justify-content: space-between;
  position: relative;

  margin: 0 auto;
}

.sidebar {
  position: absolute;
  left: -190px;
  top: 309px;
  width: 200px;
  text-align: right;

  .line {
    height: 22px;
    font-size: 14px;
    padding-top: 1px;
    margin-bottom: 30px;
    color: #B4B4B4;
    font-weight: 300;
  }
}

.plan {
  width: 170px;
  padding: 40px 20px 10px;
  text-align: center;

  &:nth-child(4) {
    box-shadow: 0 0 0 1px $accent;
    border-radius: 3px;
    background-color: #fcfcfc;
  }

  .icon {
    height: 80px;
    display: flex;
    justify-content: center;

    svg {
      fill: #B4B4B4;
    }
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0 28px;
  }

  .priceAmount {
    font-size: 32px;
    color: $accent;
    margin-bottom: 6px;
  }

  .priceMonth {
    font-size: 13px;
    color: #B4B4B4;
    margin-bottom: 50px;
    height: 15px;
  }

  .line {
    font-size: 16px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}
